@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot');
  src:  url('#{$icomoon-font-path}/icomoon.eot') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-keyboard_arrow_down {
  &:before {
    content: $i-keyboard_arrow_down;
  }
}
.i-plus {
  &:before {
    content: $i-plus;
  }
}
.i-arrow_right {
  &:before {
    content: $i-arrow_right;
  }
}
.i-arrow_left {
  &:before {
    content: $i-arrow_left;
  }
}
.i-instagram {
  &:before {
    content: $i-instagram;
  }
}
.i-contenido {
  &:before {
    content: $i-contenido;
  }
}
.i-google {
  &:before {
    content: $i-google;
  }
}
.i-mail {
  &:before {
    content: $i-mail;
  }
}
.i-twitter {
  &:before {
    content: $i-twitter;
  }
}
.i-lupa {
  &:before {
    content: $i-lupa;
  }
}
.i-mapa {
  &:before {
    content: $i-mapa;
  }
}
.i-mas .path1 {
  &:before {
    content: $i-mas-path1;
    color: rgb(255, 255, 255);
    opacity: 0.35;
  }
}
.i-mas .path2 {
  &:before {
    content: $i-mas-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-mas .path3 {
  &:before {
    content: $i-mas-path3;
    margin-left: -1em;
    color: rgb(0, 68, 94);
  }
}
.i-mas .path4 {
  &:before {
    content: $i-mas-path4;
    margin-left: -1em;
    color: rgb(0, 68, 94);
  }
}
.i-centro_de_recursos {
  &:before {
    content: $i-centro_de_recursos;
  }
}
.i-view {
  &:before {
    content: $i-view;
  }
}
.i-ediciones_anteriores {
  &:before {
    content: $i-ediciones_anteriores;
  }
}
.i-editorial {
  &:before {
    content: $i-editorial;
  }
}
.i-inicio {
  &:before {
    content: $i-inicio;
  }
}
.i-likes_icon {
  &:before {
    content: $i-likes_icon;
  }
}
.i-algo_esta_pasando {
  &:before {
    content: $i-algo_esta_pasando;
  }
}
.i-agenda {
  &:before {
    content: $i-agenda;
  }
}
.i-autores {
  &:before {
    content: $i-autores;
  }
}
.i-publicar_en_aep {
  &:before {
    content: $i-publicar_en_aep;
  }
}
.i-facebook {
  &:before {
    content: $i-facebook;
  }
}
