$icomoon-font-path: "fonts" !default;

$i-lupa_icon: "\e900";
$i-mapa_ov-path1: "\e901";
$i-mapa_ov-path2: "\e902";
$i-mapa: "\e903";
$i-mas_icon-path1: "\e904";
$i-mas_icon-path2: "\e905";
$i-mas_icon-path3: "\e906";
$i-mas_icon-path4: "\e907";
$i-recursos_ov-path1: "\e908";
$i-recursos_ov-path2: "\e909";
$i-recursos_ov-path3: "\e90a";
$i-recursos_ov-path4: "\e90b";
$i-recursos_ov-path5: "\e90c";
$i-recursos_ov-path6: "\e90d";
$i-recursos_ov-path7: "\e90e";
$i-centro_de_recursos: "\e90f";
$i-twitter-path1: "\e910";
$i-twitter-path2: "\e911";
$i-view_icon: "\e912";
$i-ediciones_ov-path1: "\e913";
$i-ediciones_ov-path2: "\e914";
$i-ediciones_anteriores: "\e915";
$i-editorial_ov-path1: "\e916";
$i-editorial_ov-path2: "\e917";
$i-editorial_ov-path3: "\e918";
$i-editorial_ov-path4: "\e919";
$i-editorial: "\e91a";
$i-inicio_ov-path1: "\e91b";
$i-inicio_ov-path2: "\e91c";
$i-inicio_ov-path3: "\e91d";
$i-inicio: "\e91e";
$i-likes_icon: "\e91f";
$i-aep_ov-path1: "\e920";
$i-aep_ov-path2: "\e921";
$i-aep_ov-path3: "\e922";
$i-aep_ov-path4: "\e923";
$i-aep_ov-path5: "\e924";
$i-aep_ov-path6: "\e925";
$i-aep_ov-path7: "\e926";
$i-aep_ov-path8: "\e927";
$i-aep_ov-path9: "\e928";
$i-aep_ov-path10: "\e929";
$i-aep_ov-path11: "\e92a";
$i-aep_ov-path12: "\e92b";
$i-aep_ov-path13: "\e92c";
$i-algo_esta_pasando: "\e92d";
$i-agenda_ov-path1: "\e92e";
$i-agenda_ov-path2: "\e92f";
$i-agenda_ov-path3: "\e930";
$i-agenda_ov-path4: "\e931";
$i-agenda_ov-path5: "\e932";
$i-agenda_ov-path6: "\e933";
$i-agenda_ov-path7: "\e934";
$i-agenda: "\e935";
$i-autor_ov-path1: "\e936";
$i-autor_ov-path2: "\e937";
$i-autor_ov-path3: "\e938";
$i-autores: "\e939";
$i-contenido_ov-path1: "\e93a";
$i-contenido_ov-path2: "\e93b";
$i-contenido: "\e93c";

