$icomoon-font-path: "fonts" !default;

$i-google_icon: "\e901";
$i-mail_icon: "\e902";
$i-twitter_icon: "\e908";
$i-lupa_icon: "\e900";
$i-mapa: "\e903";
$i-mas_icon-path1: "\e904";
$i-mas_icon-path2: "\e905";
$i-mas_icon-path3: "\e906";
$i-mas_icon-path4: "\e907";
$i-centro_de_recursos: "\e90f";
$i-view_icon: "\e912";
$i-ediciones_anteriores: "\e915";
$i-editorial: "\e91a";
$i-inicio: "\e91e";
$i-likes_icon: "\e91f";
$i-algo_esta_pasando: "\e92d";
$i-agenda: "\e935";
$i-autores: "\e939";
$i-contenido: "\e93c";

