.agenda{
    padding: 0 1em;
    h1 {
        text-align: left;
        color:#005fae,
    }
    .days{
        > span {
            span{
                font-size: 12px;
            }
            cursor: pointer;
            padding: 10px 1px;
            margin: 4px 0;
            text-align: center;
            border-color: #d5d5d5;
            border-width: 0 1px 0 0;
            border-style: solid;
            width: 36px;
            font-size: 20px
        }
        .active{
            color: #005fae;
        }
    }
    .event{
        section {
            position: relative;
            margin: auto;
            width: 260px;
            background: transparent;
            float: inherit;
            height: 380px;
            margin-bottom: 20px;
            padding-top: 5px;
            margin-top: 15px;
            border-top: 1px solid #dedede;
            .diaEvent {
                font-size: 22px;
                color: #005fae;
                span {
                    display: block;
                    font-size: 12px;
                }
            }
            .nameEvent{
                border-bottom: 1px solid #dedede;
                padding-bottom: 5px;
                margin-bottom: 15px;
                color: #005fae;
            }
            .FigureEvent {
                width: 100%;
                height: 210px;
                background-color: #efefef;
                margin: 2px auto;
            }

            .organizador, .hora {
                display: block;
                font-size: 12px;
            }

            .hora{
                color: #005fae;
            }
            .hora {
                font-size: 14px;
            }
            .contenIcon {
                padding: 10px 0px;
                .i-plus {
                    font-size: 17px !important;
                    padding: 4px;
                    top: -3px;
                    position: relative;
                }
                i {
                    cursor: pointer;
                    position: relative;
                    left: 0;
                    font-size: 24px;
                    margin: 0px 3px;
                    border-radius: 50%;
                    border: 2px solid;
                    color: #005fae;
                }
            }
        }
    }
    .popupConten.open{
        opacity: 1
    }
    .popupConten {
        position: absolute;
        text-align: center;
        opacity: 0;
        -webkit-transition: opacity 0.2s linear;
        -moz-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
        bottom: 85px;
        left: 51px;
        width: 330px;
        height: 400px;
        &:hover{
            .popup-close-button {
                color: #000;
            }
        }
        .popup-content-wrapper {
            height: 390px;
            padding-top: 14px;
            padding: 1px;
            text-align: left;
            border-radius: 10px 10px 10px 0px;
        }
        .popup-content-name {
            font-size: 14px;
            padding: 12px 10px;
        }
        .popup-content {
            // margin: 13px 19px;
            line-height: 1.4;
            // padding-top: 6px;

        }
        .popup-content p {
            margin: 18px 0;
        }
        .popup-tip-container {
            position: relative;
            top: -2px;
            left: 1px;
        }
        .popup-tip {
            background: transparent !important;
            width: 0;
            height: 0;
            border-top: 0px solid transparent !important;
            border-left: 31px solid #fff !important;
            border-bottom: 29px solid transparent!important;
            z-index: 1;
            position: relative;
            border-right: 0px !important;
        }
        .popup-tiptar {
            background: transparent !important;
            width: 0;
            height: 0;
            border-top: 0px solid transparent !important;
            border-left: 34px solid #ddd !important;
            border-bottom: 31px solid transparent!important;
            position: absolute;
            top: 0;
            left: -1px;
            z-index: 0;
        }
        .popup-content-wrapper,
        .popup-tip {
            background: white;
            border: 1px solid #ddd;
        }
        .popup-close-button {
            position: absolute;
            top: -6px;
            cursor: pointer;
            right: 0;
            padding: 4px 4px 0 0;
            text-align: center;
            width: 18px;
            height: 14px;
            font-size: 28px;
            color: #c3c3c3;
            text-decoration: none;
            font-weight: 700;
            background: transparent;
            z-index: 2;
        }

        .popup-scrolled {
            overflow: auto;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
        }

        .oldie .popup-content-wrapper {
            zoom: 1;
        }
        .oldie .popup-tip {
            width: 24px;
            margin: 0 auto;

            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
            filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
        }
        .oldie .popup-tip-container {
            margin-top: -1px;
        }

        .oldie .control-zoom,
        .oldie .control-layers,
        .oldie .popup-content-wrapper,
        .oldie .popup-tip {
            border: 1px solid #999;
        }


    }
}
