.agenda{
    padding: 0 1em;
    h1 {
        text-align: left;
    }
    .days{
        > span {
            span{
                font-size: 12px;
            }
            cursor: pointer;
            padding: 10px 1px;
            margin: 4px 0;
            text-align: center;
            border-color: #d5d5d5;
            border-width: 0 1px 0 0;
            border-style: solid;
            width: 36px;
            font-size: 20px
        }
        .active{
            color: red;
        }
    }
}
