#NavBarTop {
    height: 46px;
    position: relative;
    z-index: 9;
    background: #fff;
    width: 90%;
    .item {
        font-size: 14px;
        margin: 0 17px;
        display: block;
        color: #4e4e4e;
        min-width: 100px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .item.Secciones{
        display: none;
    }
    a {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        min-width: 112px;
    }
}
.item.activeL {
    color: #19447f !important;
}
.contentSearch.active{
    display: none
}
.contentSearch {
    width: 100%;
    position: absolute;
    background: #fff;
    height: 1170px;
    top: 47px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
}
.filterSelect.active{
    margin-top: 1px;
    display: none !important;
}
.filterSelect{
    height: 43px;
    position: relative;
    z-index: 1;
    background: #fbfbfb;
    padding: 0px 0px 1px 0px;
    transition: all .5s;
    // padding-left: 35px;
    padding-right: 90px;
    .contentSelect{
        &:after {
            content: '\25BE';
            position: absolute;
            right: 0px;
        }
    }
    >div{
        width: calc(20% - 15px);
        // max-width: 134px;
        margin: 0 9px;
        position: relative;
        // padding-right: 15px;

        select{
            appearance: searchfield;
            font-size: 14px;
            width: 100%;
            border: none;
            outline: none;
            border-bottom: 1px solid #c8c7c7;
            height: 26px;
            border-radius: 0;
            background: #fbfbfb;
        }
    }
    input {
        background: #fbfbfb;
        border: none;
        border-bottom: 1px solid #c8c7c7;
        outline: none;
    }

}
.drawSearch {
    top: 0;
    right: 25px;
    width: 45px;
    height: 85px;
    position: absolute;
    z-index: 10;
    i {
        color: #FFE;
        font-size: 22px;
        font-weight: bold;
        padding-top: 50px;
        display: block;
        text-align: center;
        cursor: pointer;
    }
}

.colapsable{
    height: auto !important;
    width: 100% !important;

    .item.Secciones{
        display: block !important;
        padding: 15px 12px 8px 0px;
        position: relative;
        cursor: pointer;
        &:after {
            content: '\25BE';
            position: absolute;
            right: 0;
        }
    }
    a{
        display: none;
    }
}
.colapsable.open {
    border-bottom: 1px solid #dedede;
    a {
        display: block;
        padding: 6px 0px;
        background: #fbfbfb;
        width: 100%;
    }
}
