#NavBarTop {
    height: 46px;
    position: relative;
    z-index: 9;
    background: #fff;
    width: 93%;
    .item {
        font-size: 14px;
        margin: 0 17px;
        display: block;
        color: #4e4e4e;
    }
}
.contentSearch.active{
    display: none
}
.contentSearch {
    width: 100%;
    position: absolute;
    background: #fff;
    height: 1170px;
    top: 47px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
}
.filterSelect.active{
    margin-top: 1px;
    display: none !important;
}
.filterSelect{
    height: 43px;
    position: relative;
    z-index: 1;
    background: #fbfbfb;
    padding: 0px 0px 1px 0px;
    transition: all .5s;
    padding-left: 35px;
    .contentSelect{
        &:after {
            content: '\25BE';
            position: absolute;
            right: 0px;
        }
    }
    >div{
        width: calc(20% - 15px);
        max-width: 170px;
        margin: 0 9px;
        position: relative;
        padding-right: 15px;

        select{
            appearance: searchfield;
            font-size: 14px;
            width: 100%;
            border: none;
            outline: none;
            border-bottom: 1px solid #c8c7c7;
            height: 26px;
            border-radius: 0;
            background: #fbfbfb;
        }
    }
    input {
        background: #fbfbfb;
        border: none;
        border-bottom: 1px solid #c8c7c7;
        outline: none;
    }

}
.drawSearch {
    top: 0;
    right: 25px;
    width: 45px;
    height: 85px;
    position: absolute;
    z-index: 10;
    i {
        color: #FFE;
        font-size: 22px;
        font-weight: bold;
        padding-top: 50px;
        display: block;
        text-align: center;
        cursor: pointer;
    }
}
