@import 'constants/colors';
@import 'constants/breaks';


.NavBar {
    position: fixed;
    width: $nav-collapsed;
    height: 100%;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.36);
    background: #fff;
    z-index: 1000;
    // transition: 1s;
    // overflow: hidden;
}

.NavBar-title {
    text-align: left;
    margin: 0px 6px;
    background-repeat: no-repeat !important;
    height: 255px;
    width: 210px;
    background-position: 0px -44px !important;
}

@media screen and (min-device-width: 481px) {
    .NavBar-title {
        text-align: center;
    }
}

.NavBar-links {
    position: relative;
    margin-top: 10px;
    text-align: center;
    &:after {
        content: "";
        border-bottom: 1px solid #e7e5e5;
        width: 90%;
        height: 1px;
        position: absolute;
        z-index: 1;
        left: 0;
        margin: auto;
        right: 0;
        bottom: -3px;
    }
    a{
        position: relative;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        text-align: left;
        color: #4e4e4e;
        padding: 8px 0px 12px 12px;
        font-size: 12px;
        span{
            position: relative;
            padding-left: 38px;
        }
        i {
            position: absolute;
            left: 0px;
            font-size: 24px;
            border-radius: 50%;
            border: 2px solid;
            color: #4e4e4e;
        }
    }
}

.NavBar-link {
    position: relative;
    display: inline-block;
    padding: .75rem;
    color: inherit;

    font-weight: 300;
    font-size: .875rem;

    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        opacity: .75;
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    &:after {
        display: block;
        width: 0;
        height: 2px;
        margin: .25rem auto;

        content: '';

        background-color: transparent;
        transition: all .15s;
    }


}

.NavBar-link--selected {
    color: $color-secondary;

    &:after {
        width: 100%;
        background-color: currentColor;
    }
}

.NavBar-locales {
    position: absolute;
    right: 0;
    top: 0;
}
.NavBar-footer{
    img{
        margin: auto;
        display: block;
        margin-top: 15px;
        height: 65px;
        margin-bottom: 8px;
    }
    .slogan{
        text-align: center;
        margin: auto;
        display: block;
        font-size: 14px;
        color: #4c4c4c;
    }
    .contenRedes {
        margin: auto;
        display: table;
        width: 78px;
        i {
            width: 30px;
            height: 30px;
            font-size: 26px;
            margin: 0 7px;
        }
        a {
            width: 30px;
            height: 30px;
            display: block;
            float: left;
            color: #656565;
        }
        .i-instagram {
            font-size: 47px !important;
            line-height: 0.6;
        }
    }
    .copyright {
        padding: 0px 10px;
        font-size: 12px;
        img{
            // width: 95%;
            height: auto;
        }
    }

}

.NavBar-links a span > span{
    padding: 0;
    width: 179px;
    text-align: left;
}
.closed {
    .Page-body-top {
        width: calc(100% - 110px);
    }
    .Page-body {
        margin-left: 110px;
    }
    .NavBar{
        width: 110px;

        &:hover {
            width: 230px;
            .NavBar-title {
                width: 210px;
            }
            .NavBar-links{
                margin-top: 1.6rem;
                a{
                    padding: 5px 0 12px 12px;
                    display: block;
                    span>span {
                        display: table;

                    }
                }
            }
        }
        .NavBar-title {
            width: 96px;
            background-position: 0px -44px !important;
        }
        .NavBar-links {
            .hidepad{
                padding: 26px 0px 12px 12px;
            }
            a {
                text-align: center;
                display: table;
                margin: auto;

                .hideName{
                    display: none;
                }
            }
        }
    }
}
a[href="/algo_esta_pasando"] {
    pointer-events: none;
    i,span{
        color: #c5c5c5 !important;
    }
}
.info{
    text-align: center;
    display: block;
    color: #4c4c4c;
    font-size: 10px;
}
.Page-body-footer {
    height: 30px;
    position: relative;
    z-index: 9;
    background: #fff;
}
.copyright {
    font-size: 10px;
    a {
        margin: 0px 10px;
    }
    br {
        display: none;
    }
}
