@import 'constants/colors';
@import 'constants/breaks';


.NavBar {
    position: fixed;
    width: $nav-collapsed;
    height: 100%;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.36);
    background: #fff;
}

.NavBar-title {
    text-align: left;

    img {
      height: 270px;
      width: 210px;
    }
}

@media screen and (min-device-width: 481px) {
    .NavBar-title {
        text-align: center;
    }
}

.NavBar-links {
    position: relative;
    margin-top: 1rem;
    text-align: center;
    &:after {
        content: "";
        border-bottom: 1px solid #e7e5e5;
        width: 90%;
        height: 1px;
        position: absolute;
        z-index: 1;
        left: 0;
        margin: auto;
        right: 0;
        bottom: -9px;
    }
    a{
        position: relative;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        text-align: left;
        color: #4e4e4e;
        padding: 8px 0px 12px 12px;
        font-size: 14px;
        &:nth-child(1) i{ color:#00d6ba; }
        &:nth-child(2) i{ color:#08d9ec; }
        &:nth-child(3) i{ color:#039cdd; }
        &:nth-child(4) i{ color:#0985c1; }
        &:nth-child(5) i{ color:#247aaa; }
        &:nth-child(6) i{ color:#3f4f9f; }
        &:nth-child(7) i{ color:#4c439e; }
        &:nth-child(8) i{ color:#4c3499; }
        &:nth-child(9) i{ color:#2a267a; }

        &:nth-child(1):hover{ color:#00d6ba; }
        &:nth-child(2):hover{ color:#08d9ec; }
        &:nth-child(3):hover{ color:#039cdd; }
        &:nth-child(4):hover{ color:#0985c1; }
        &:nth-child(5):hover{ color:#247aaa; }
        &:nth-child(6):hover{ color:#3f4f9f; }
        &:nth-child(7):hover{ color:#4c439e; }
        &:nth-child(8):hover{ color:#4c3499; }
        &:nth-child(9):hover{ color:#2a267a; }
        span{
            position: relative;
            padding-left: 38px;
        }
        i {
            position: absolute;
            left: 0px;
            font-size: 24px;
            border-radius: 50%;
            border: 2px solid;
            color: #4e4e4e;
        }
    }
}

.NavBar-link {
    position: relative;
    display: inline-block;
    padding: .75rem;
    color: inherit;

    font-weight: 300;
    font-size: .875rem;

    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        opacity: .75;
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    &:after {
        display: block;
        width: 0;
        height: 2px;
        margin: .25rem auto;

        content: '';

        background-color: transparent;
        transition: all .15s;
    }


}

.NavBar-link--selected {
    color: $color-secondary;

    &:after {
        width: 100%;
        background-color: currentColor;
    }
}

.NavBar-locales {
    position: absolute;
    right: 0;
    top: 0;
}
.NavBar-footer{
    img{
        margin: auto;
        display: block;
        margin-top: 30px;
    }
}

.drawSearch {
    background: #2e2d7b;
    right: 25px;
    width: 45px;
    height: 85px;
    position: absolute;
    i {
        color: #FFE;
        font-size: 22px;
        font-weight: bold;
        padding-top: 50px;
        display: block;
        text-align: center;
        cursor: pointer;
    }
}
