@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot');
  src:  url('#{$icomoon-font-path}/icomoon.eot') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-lupa_icon {
  &:before {
    content: $i-lupa_icon;
  }
}
.i-mapa_ov .path1 {
  &:before {
    content: $i-mapa_ov-path1;
    color: rgb(0, 155, 221);
  }
}
.i-mapa_ov .path2 {
  &:before {
    content: $i-mapa_ov-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-mapa {
  &:before {
    content: $i-mapa;
  }
}
.i-mas_icon .path1 {
  &:before {
    content: $i-mas_icon-path1;
    color: rgb(255, 255, 255);
    opacity: 0.35;
  }
}
.i-mas_icon .path2 {
  &:before {
    content: $i-mas_icon-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-mas_icon .path3 {
  &:before {
    content: $i-mas_icon-path3;
    margin-left: -1em;
    color: rgb(0, 68, 94);
  }
}
.i-mas_icon .path4 {
  &:before {
    content: $i-mas_icon-path4;
    margin-left: -1em;
    color: rgb(0, 68, 94);
  }
}
.i-recursos_ov .path1 {
  &:before {
    content: $i-recursos_ov-path1;
    color: rgb(34, 122, 170);
  }
}
.i-recursos_ov .path2 {
  &:before {
    content: $i-recursos_ov-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-recursos_ov .path3 {
  &:before {
    content: $i-recursos_ov-path3;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-recursos_ov .path4 {
  &:before {
    content: $i-recursos_ov-path4;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-recursos_ov .path5 {
  &:before {
    content: $i-recursos_ov-path5;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-recursos_ov .path6 {
  &:before {
    content: $i-recursos_ov-path6;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-recursos_ov .path7 {
  &:before {
    content: $i-recursos_ov-path7;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-centro_de_recursos {
  &:before {
    content: $i-centro_de_recursos;
  }
}
.i-twitter .path1 {
  &:before {
    content: $i-twitter-path1;
    color: rgb(0, 199, 255);
  }
}
.i-twitter .path2 {
  &:before {
    content: $i-twitter-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-view_icon {
  &:before {
    content: $i-view_icon;
  }
}
.i-ediciones_ov .path1 {
  &:before {
    content: $i-ediciones_ov-path1;
    color: rgb(2, 129, 191);
  }
}
.i-ediciones_ov .path2 {
  &:before {
    content: $i-ediciones_ov-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-ediciones_anteriores {
  &:before {
    content: $i-ediciones_anteriores;
  }
}
.i-editorial_ov .path1 {
  &:before {
    content: $i-editorial_ov-path1;
    color: rgb(41, 37, 122);
  }
}
.i-editorial_ov .path2 {
  &:before {
    content: $i-editorial_ov-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-editorial_ov .path3 {
  &:before {
    content: $i-editorial_ov-path3;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-editorial_ov .path4 {
  &:before {
    content: $i-editorial_ov-path4;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-editorial {
  &:before {
    content: $i-editorial;
  }
}
.i-inicio_ov .path1 {
  &:before {
    content: $i-inicio_ov-path1;
    color: rgb(4, 215, 187);
  }
}
.i-inicio_ov .path2 {
  &:before {
    content: $i-inicio_ov-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-inicio_ov .path3 {
  &:before {
    content: $i-inicio_ov-path3;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-inicio {
  &:before {
    content: $i-inicio;
  }
}
.i-likes_icon {
  &:before {
    content: $i-likes_icon;
  }
}
.i-aep_ov .path1 {
  &:before {
    content: $i-aep_ov-path1;
    color: rgb(64, 80, 159);
  }
}
.i-aep_ov .path2 {
  &:before {
    content: $i-aep_ov-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-aep_ov .path3 {
  &:before {
    content: $i-aep_ov-path3;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-aep_ov .path4 {
  &:before {
    content: $i-aep_ov-path4;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-aep_ov .path5 {
  &:before {
    content: $i-aep_ov-path5;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-aep_ov .path6 {
  &:before {
    content: $i-aep_ov-path6;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-aep_ov .path7 {
  &:before {
    content: $i-aep_ov-path7;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-aep_ov .path8 {
  &:before {
    content: $i-aep_ov-path8;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-aep_ov .path9 {
  &:before {
    content: $i-aep_ov-path9;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-aep_ov .path10 {
  &:before {
    content: $i-aep_ov-path10;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-aep_ov .path11 {
  &:before {
    content: $i-aep_ov-path11;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-aep_ov .path12 {
  &:before {
    content: $i-aep_ov-path12;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-aep_ov .path13 {
  &:before {
    content: $i-aep_ov-path13;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-algo_esta_pasando {
  &:before {
    content: $i-algo_esta_pasando;
  }
}
.i-agenda_ov .path1 {
  &:before {
    content: $i-agenda_ov-path1;
    color: rgb(71, 46, 150);
  }
}
.i-agenda_ov .path2 {
  &:before {
    content: $i-agenda_ov-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-agenda_ov .path3 {
  &:before {
    content: $i-agenda_ov-path3;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-agenda_ov .path4 {
  &:before {
    content: $i-agenda_ov-path4;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-agenda_ov .path5 {
  &:before {
    content: $i-agenda_ov-path5;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-agenda_ov .path6 {
  &:before {
    content: $i-agenda_ov-path6;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-agenda_ov .path7 {
  &:before {
    content: $i-agenda_ov-path7;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-agenda {
  &:before {
    content: $i-agenda;
  }
}
.i-autor_ov .path1 {
  &:before {
    content: $i-autor_ov-path1;
    color: rgb(76, 67, 158);
  }
}
.i-autor_ov .path2 {
  &:before {
    content: $i-autor_ov-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-autor_ov .path3 {
  &:before {
    content: $i-autor_ov-path3;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-autores {
  &:before {
    content: $i-autores;
  }
}
.i-contenido_ov .path1 {
  &:before {
    content: $i-contenido_ov-path1;
    color: rgb(15, 218, 237);
  }
}
.i-contenido_ov .path2 {
  &:before {
    content: $i-contenido_ov-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.i-contenido {
  &:before {
    content: $i-contenido;
  }
}
