@font-face {
      font-family: 'MonopolSemiBold';
      src: url('../fonts/MonopolSemiBold.otf');
    //   src: url('../fonts/MonopolSemiBold.eot?#iefix') format('embedded-opentype'),
    //        url('../fonts/MonopolSemiBold.woff') format('woff'),
    //        url('../fonts/MonopolSemiBold.ttf')  format('truetype');
}
@font-face {
      font-family: 'Merriweather Light';
      src: url('../fonts/Merriweather-Light.ttf');
    //   src: url('../fonts/MonopolSemiBold.eot?#iefix') format('embedded-opentype'),
    //        url('../fonts/MonopolSemiBold.woff') format('woff'),
    //        url('../fonts/MonopolSemiBold.ttf')  format('truetype');
}
@font-face {
      font-family: 'MerriweatherSans-Bold';
      src: url('../fonts/MerriweatherSans-Bold.otf');
    //   src: url('../fonts/MonopolSemiBold.eot?#iefix') format('embedded-opentype'),
    //        url('../fonts/MonopolSemiBold.woff') format('woff'),
    //        url('../fonts/MonopolSemiBold.ttf')  format('truetype');
}
@font-face {
      font-family: 'MerriweatherSans-Regular';
      src: url('../fonts/MerriweatherSans-Regular.otf');
    //   src: url('../fonts/MonopolSemiBold.eot?#iefix') format('embedded-opentype'),
    //        url('../fonts/MonopolSemiBold.woff') format('woff'),
    //        url('../fonts/MonopolSemiBold.ttf')  format('truetype');
}
