@import 'constants/colors';
@import 'constants/breaks';


.NavBar {
    position: absolute;
    margin-bottom: 2rem;
    width: $nav-collapsed;
    height: 100%;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.36);
    background: #fff;
}

.NavBar-title {
    text-align: left;
}

@media screen and (min-device-width: 481px) {
    .NavBar-title {
        text-align: center;
    }
}

.NavBar-links {
    overflow: auto;
    margin-top: 1rem;
    text-align: center;
    a{
        position: relative;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        text-align: left;
        color: #4e4e4e;
        padding: 12px 0px 12px 12px;
        font-size: 14px;
        span{
            position: relative;
            padding-left: 38px;
        }
        i {
            position: absolute;
            left: 0px;
            font-size: 24px;
            border-radius: 50%;
            border: 2px solid;
            color: #4e4e4e;
        }
    }
}

.NavBar-link {
    position: relative;
    display: inline-block;
    padding: .75rem;
    color: inherit;

    font-weight: 300;
    font-size: .875rem;

    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        opacity: .75;
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    &:after {
        display: block;
        width: 0;
        height: 2px;
        margin: .25rem auto;

        content: '';

        background-color: transparent;
        transition: all .15s;
    }


}

.NavBar-link--selected {
    color: $color-secondary;

    &:after {
        width: 100%;
        background-color: currentColor;
    }
}

.NavBar-locales {
    position: absolute;
    right: 0;
    top: 0;
}
