.P-B-ContentPost {
    overflow: auto;
    height: 100%;
    background-size: cover !important;
}
.P-B-Post {
    padding-left: 35px;
    column-width: 320px;
    column-gap: 2px;
    margin: 15px auto;
    figure {
        position: relative;
        overflow: hidden;
        float: left;
        background: #fefefe;
        // box-shadow: 0 1px 1px rgba(34, 25, 25, 0.4);
        margin: 0 2px 5px;
        display: inline-block;
        column-break-inside: avoid;
        position: relative;
        &:hover span{

        }
        >:nth-child(2){
            position: absolute;
            font-family: "MonopolSemiBold";
            z-index: 1;
            bottom: 0;
            width: calc(100% - 20px);
            left: 0;
            background: rgba(0, 48, 113, 0.8);
            text-align: center;
            color: #fff;
            padding: 16px 10px;
            font-size: 18px;
            letter-spacing: 0.5px;
        }
        img {
            width: 100%;
            height: auto;
            // min-height: 220px;
        }
    }
    .perfil {

        background: transparent;
        float: inherit;
        height: 380px;
        margin-bottom: 20px;
        padding-top: 30px;
        &:after{
            content: " ";
            border-bottom: 1px dotted #c5c5c5;
            position: absolute;
            width: 86%;
            bottom: 0;
            margin: auto;
            left: 0;
            right: 0;
        }
        // :first-child:before
        &:hover >div:first-child:before{
            border: 2px solid #fff;
            opacity: 1;
            width: 220px;
            height: 220px;
            left: -7px;
            transition: .5s ease;
        }
        >div:first-child {
            z-index: 9999;
            position: relative;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            margin: auto;
            cursor: pointer;
            width: 210px;
            height: 210px;
            transition: .5s ease;
            &:before {
                position: absolute;
                content: "";
                margin: auto;
                width: 210px;
                height: 210px;
                top: 0px;
                right: 0;
                bottom: 0;
                left: -1px;
                border-radius: 50%;
                opacity: 0;
                transition: .5s ease;
            }
        }
        >:nth-child(2){
            background: transparent;
            position: relative;
            color: #fff;
            font-size: 18px;
            z-index: 1;
            display: block;
            font-family: "MerriweatherSans-Regular", sans-serif;
            letter-spacing: 0;
            padding: 20px 0px 0px 0px;
            width: 100%;


        }
        >:nth-child(3) {
            margin: auto;
            display: block;
            text-align: center;
            font-size: 13px;
            color: #fff;
        }
        >:nth-child(4) {
            width: 80%;
            margin: auto;
            display: block;
            font-size: 14px;
            color: #fff;
            text-align: center;
        }


    }
}
